<li>
	{{name}}

	<button class="change-food" data-id="{{id}}" data-newfood="{{eaten}}">
		{{#if eaten}}EATEN!{{else}}YET TO BE EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>